h1{
    color: pink;
}

h2{
    color: blueviolet;
    background-color: pink;
}

h3{
    color: palevioletred;
}

p{
    color: blue;
}

iframe {
    width: 100%;
    height: auto;
    
    aspect-ratio: 16 / 9;
  }

  	
img,
video {
  width: 100%;
  height: auto;
  display: block;
}